services:
	placeholderProcessor:
		class: KappaTests\PlaceholderProcessor\Tests\BasicProcessor
		tags: [kappa.placeholder_processor]

extensions:
	placeholderProcessor: Kappa\PlaceholderProcessor\DI\PlaceholderProcessorExtension

placeholderProcessor:
	strict: true
	processors:
		- KappaTests\PlaceholderProcessor\Tests\BasicProcessor
